.loading-dot {
  animation: scaling 2s ease-in-out infinite;
  background-color: currentColor;
  border-radius: radius(m);
  height: size(8);
  transform: scale(0);
  width: size(8);

  &:nth-child(1) {
    animation-delay: 0s;
  }

  &:nth-child(2) {
    animation-delay: 0.2s;
  }

  &:nth-child(3) {
    animation-delay: 0.4s;
  }

  &:not(:last-child) {
    margin-right: spacing(0);
  }
}

@keyframes scaling {
  0%,
  100% {
    background-color: currentColor;
    transform: scale(0.2);
  }

  40% {
    background-color: currentColor;
    transform: scale(1);
  }
}
