.pagination {
  display: flex;
  gap: spacing(2);
  justify-content: space-between;
  padding-block: spacing(3);

  &__pages {
    display: flex;
    gap: spacing(2);
  }

  &__link {
    background-color: color(brand-secondary-01);
    width: size(36);

    &--selected {
      background-color: color(brand-secondary-07);
      color: color(light);

      @include hover-pointer-fine {
        &:hover {
          background-color: color(brand-secondary-07);
        }
      }
    }
  }

  &__icon {
    &--prev {
      margin-right: spacing();
    }

    &--next {
      margin-left: spacing();
    }
  }
}
