$selector: '.menu';

#{$selector} {
  &__drawer {
    &__container {
      border-radius: 0 !important;
      max-width: size(375) !important;
    }

    &__content {
      padding: 0;
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    padding-bottom: spacing(6);

    @include hide-scrollbar;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: spacing(2);
    padding: spacing(6) spacing(8) 0 spacing(6);
  }

  &__item {
    // na
  }

  &__link {
    @include font(label);
    @include ellipsis(2);
    @include hover-effect;

    text-transform: uppercase;
  }

  &__accordion {
    flex: 1;
    overflow: hidden;
    width: 100%;

    &__header {
      height: size(36);
      text-transform: uppercase;

      @include font(heading-6);
      @include hover-effect;

      &--active {
        @include hover-effect(true);
      }

      &--sale {
        color: color(emphasis-sale);
      }
    }

    &__content {
      overflow: hidden;
      padding-inline-start: spacing(6);
    }

    &__body {
      display: grid;
      grid-template-rows: 0fr;
      transition: 250ms grid-template-rows ease;
    }

    &__item {
      align-items: center;
      display: flex;
      height: size(36);
    }

    &--active &__body {
      grid-template-rows: 1fr;
    }
  }
}
