.rating {
  display: flex;
  gap: spacing();

  &__title--hidden {
    visibility: hidden;
  }

  &__icon {
    position: relative;

    &-empty {
      color: color(neutral-04);

      &-container {
        display: flex;
        height: 100%;
        width: 100%;
      }
    }

    &-filled {
      color: color(warning-03);

      &-container {
        display: flex;
        height: 100%;
        inset: 0;
        overflow: hidden;
        position: absolute;
      }
    }
  }
}
