.avatar {
  align-items: center;
  border-radius: radius(full);
  display: flex;
  justify-content: center;
  position: relative;

  img {
    border-radius: radius(full);
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  &--halo {
    outline: 2px solid color(brand-secondary-07);
    outline-offset: 1px;
  }

  &--initials {
    background-color: color(brand-secondary-02);
    color: color(brand-secondary-07);
  }

  &-size {
    &--sm {
      height: size(32);
      width: size(32);
    }

    &--md {
      height: size(48);
      width: size(48);

      @include font(heading-6);
    }

    &--lg {
      height: size(96);
      width: size(96);

      @include font(heading-4);
    }
  }

  &__placeholder {
    &--sm {
      height: size(32);
      width: size(32);
    }

    &--md {
      height: size(48);
      width: size(48);
    }

    &--lg {
      height: size(96);
      width: size(96);
    }
  }
}
