$remBase: 10 !default;
$useRem: true !default;
$spacing-types: (
  0: 2,
  1: 4,
  2: 8,
  3: 12,
  4: 16,
  5: 20,
  6: 24,
  7: 32,
  8: 40,
  9: 48,
  10: 64,
  11: 96,
  12: 128,
);
$z-index-types: (
  under: -1,
  base: 0,
  resting: 1,
  floating: 2,
  navigation: 3,
  modal: 4,
  header: 5,
);
$breakpoints: (
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1080px,
  'xxl': 1353px,
);
$elevation-types: (
  0: inset 0 2px 0 rgb(0 0 0 / 5%),
  1: (
    0 1px 2px 0 rgb(0 0 0 / 5%),
    0 3px 3px 0 rgb(0 0 0 / 4%),
    0 7px 4px 0 rgb(0 0 0 / 2%),
  ),
  2: (
    0 3px 6px 0 rgb(0 0 0 / 5%),
    0 10px 10px 0 rgb(0 0 0 / 5%),
    0 23px 14px 0 rgb(0 0 0 / 3%),
  ),
  3: (
    0 9px 20px 0 rgb(0 0 0 / 6%),
    0 36px 36px 0 rgb(0 0 0 / 5%),
    0 81px 49px 0 rgb(0 0 0 / 3%),
    0 144px 58px 0 rgb(0 0 0 / 1%),
    0 225px 63px 0 rgb(0 0 0 / 0%),
  ),
  4: (
    1px 30px 65px 0 rgb(0 0 0 / 8%),
    6px 118px 118px 0 rgb(0 0 0 / 7%),
    13px 266px 160px 0 rgb(0 0 0 / 4%),
    23px 473px 190px 0 rgb(0 0 0 / 1%),
    36px 740px 207px 0 rgb(0 0 0 / 0%),
  ),
);
$border-radius-types: (
  xs: 2,
  s: 4,
  m: 8,
  l: 12,
  xl: 16,
  xxl: 24,
  full: 512,
  100: 100%,
);
$english-font-settings: (
  heading-1: (
    size: 60,
    lh: 60,
    ls: '-0.025em',
  ),
  heading-2: (
    size: 35,
    lh: 40,
    ls: '-0.01em',
  ),
  heading-3: (
    size: 28,
    lh: 36,
    ls: '-0.0075em',
  ),
  heading-4: (
    size: 24,
    lh: 30,
    ls: '-0.00625em',
  ),
  heading-5: (
    size: 20,
    lh: 28,
    ls: '-0.005em	',
  ),
  heading-6: (
    size: 18,
    lh: 26,
    ls: '-0.0025em',
  ),
  body: (
    size: 16,
    lh: 24,
    ls: '-0.0025em',
  ),
  label: (
    size: 14,
    lh: 20,
    ls: '0em',
  ),
  caption: (
    size: 12,
    lh: 16,
    ls: '0.0025em',
  ),
);
$language: en !default;
$languages-map: (
  en: $english-font-settings,
);
