.tabs {
  &__navigation {
    align-items: center;
    display: flex;
    margin-bottom: spacing(6);
  }

  &__content {
    padding-inline: size(1);

    &--hidden {
      display: none;
    }
  }

  &__navigation-item {
    align-items: center;
    box-shadow: inset 0 -1px 0 0 color(neutral-02);
    color: color(neutral-06);
    cursor: pointer;
    display: flex;
    height: size(48);
    justify-content: center;
    padding: spacing(2) spacing(3);
    text-transform: uppercase;
    transition: all 0.3s;
    white-space: nowrap;

    @include font(button);

    @include hover-pointer-fine {
      &:hover {
        background-color: color(brand-secondary-01);
        box-shadow: inset 0 -3px 0 0 color(brand-secondary-02);
        color: color(brand-secondary-07);
      }
    }

    &--active {
      box-shadow: inset 0 -3px 0 0 color(brand-secondary-07);
      color: color(brand-secondary-07);
    }
  }
}
