.gallery-full-screen {
  height: 100dvh;
  left: 0;
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: zIndex(modal);

  @include hide-scrollbar;

  &__overlay {
    background-color: color(light);
    opacity: 1;
  }

  &__close-button {
    position: absolute;
    right: 16px;
    top: 16px;
    z-index: zIndex(resting);
  }

  &__inner-gallery {
    background-color: color(light);
    display: flex;
    height: 100dvh;
  }

  &__item {
    height: 100%;
  }

  &__arrow-next {
    right: 16px;
  }

  &__arrow-prev {
    left: 16px;
  }
}
